h1 {
	color: black;
	text-align: center;
}

h2 {
	color: #4db8ff;
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 30px;

}


h4 {
	color: #4db8ff;
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 30px;

}

       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }